@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');

:root{
    --maincomponent: #184e77;
    --cardwidth: max(450px, 45vw);
    --cardcontentwidth: max(415px, 60%);
    --accentcolor: #a8dadc;
    --radius: 25px;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    overflow-x: hidden;
}

#content{
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background: url('./imgs/background-image.jpg');

    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    border-style: none;
}

/*header + components styling */
header{
    width: 100%;
    background-color: var(--maincomponent);
    padding-top: 8px;
    display: flex;
    justify-content: center;
    gap:24px;
}

.page-selector{
    color: white;
    background-color: #cfa3ca;
    border-radius: 5px;

    width: 100px;
    height: 50px;
}

.page-selector:hover{
    cursor: pointer;
}
.page-selector:active{
    transform: scale(0.9);
}


/*body styling*/

.main-card{
    margin-top: 48px;
    background-color: var(--maincomponent);
    width: var(--cardwidth);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.main-card>*{
    margin-top: 24px;
    margin-bottom: 24px;
}

.heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--accentcolor);
    width: var(--cardcontentwidth);
    border-radius: var(--radius);
}

.heading-container>h1{
    display: inline-block;
    font-size: x-large;
}

.emoji{
    width: 50px;
    height: 50px;
}

.card{
    width: var(--cardcontentwidth);
    background-color: var(--accentcolor);
    border-radius: var(--radius);
    padding: 24px;
    text-align: center;
}

.author{
    font-weight: bold;
}

